.home3__container {
  /* border: 2px solid red; */
  text-align: center;
  background-color: var(--impact);
  /* border: 1px solid #000; */
  padding-top: 5rem;
  padding-bottom: 6.5rem;
}

.home3__header {
  flex: 1 1 100%;
  margin-bottom: 1.5rem;
}

.home3__list-container {
  /* border: 2px solid blue; */
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.home3__list-item {
  color: #3b4248;
  min-width: 125px;
  font-size: 1rem;
}

.home3__bold {
  /* border: 1px solid blue; */
  display: block;
  color: var(--black);
  font-size: 3.5rem;
  font-weight: var(--weight700);
  /* margin-bottom: 1rem; */
}

@media (min-width: 500px) {
  .home3__list-container {
    justify-content: space-between;
  }
}
